/**** VIDEO ****/

video {
    width: 100%;
    z-index: 1;
    position: relative;
}

// ::cue {
//    font-family: "Open Sans", sans-serif;
//    font-size: 0.7em;
// }

// video::-webkit-media-text-track-display {
//     font-family: "Open Sans", sans-serif;
//     font-size: 16px !important;
//     position: relative !important;
//     top: calc(100% - 100px) !important;
// }